#hour-colors #hour-1 {
    background-color: #2a71b0;
}

#hour-colors #hour-2 {
    background-color: #0696bb;
}

#hour-colors #hour-3 {
    background-color: #008e5b;
}

#hour-colors #hour-4 {
    background-color: #8cbb26;
}

#hour-colors #hour-5 {
    background-color: #f4e500;
}

#hour-colors #hour-6 {
    background-color: #fdc60b;
}

#hour-colors #hour-7 {
    background-color: #f18e1c;
}

#hour-colors #hour-8 {
    background-color: #ea621f;
}

#hour-colors #hour-9 {
    background-color: #e32322;
}

#hour-colors #hour-10 {
    background-color: #c4037d;
}

#hour-colors #hour-11 {
    background-color: #6d398b;
}

#hour-colors #hour-12 {
    background-color: #444e99;
}