
#hour-colors #hour-1 {
    background-color: #0040ff;
}

#hour-colors #hour-2 {
    background-color: #0080ff;
}

#hour-colors #hour-3 {
    background-color: #00ffff;
}

#hour-colors #hour-4 {
    background-color: #00ff00;
}

#hour-colors #hour-5 {
    background-color: #bfff00;
}

#hour-colors #hour-6 {
    background-color: #ffff00;
}
#hour-colors #hour-7 {
    background-color: #ff8000;
}

#hour-colors #hour-8 {
    background-color: #ff0000;
}

#hour-colors #hour-9 {
    background-color: #ff00bf;
}

#hour-colors #hour-10 {
    background-color: #bf00ff;
}

#hour-colors #hour-11 {
    background-color: #5900ff;
}

#hour-colors #hour-12 {
    background-color: #0000ff;
}