@media screen {
    section {
        font-size: .8em;
        border-radius: 220px;
        box-sizing: border-box;
        height: 210px;
        width: 210px;
        padding-top: 67px;
    }
    #hour-colors {
        height: 20em;
        width: 20em;
        top: 50vh;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
        font-size: .8em;
    }
    #hour-colors .color {
        font-size: 1.15em;
        margin-top: -16px;
    }
}
@media screen and (min-width: 420px) and (min-height: 420px) {
    section {
        font-size: 1.5em;
        border-radius: 220px;
        box-sizing: border-box;
        height: 380px;
        width: 380px;
        padding-top: 120px;
    }
    #hour-colors {
        width: 25.7em;
        height: 25.7em;
        top: 50vh;
        transform: translateY(-50%);
        left: 50%;
        margin-left: -13em;
        font-size:1.1em;
    }
    #hour-colors .color {
        font-size: 1.5em;
        margin-top: -1.3em;
    }
}

body {
    transition: background-color 1000ms linear;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}

section {
    text-align: center;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    background: black;
    z-index: 10;
}

h1, h2 {
    margin: 0
}

#color {
    font-size: 3.5em;
}

#time {
    font-size: 1.5em;
    font-weight: normal;
}


#hour-colors {
    overflow: hidden;
    position: fixed;
    border-radius: 50%;
}
#hour-colors .color {
    position: absolute;
    width: 10em;
    height: 10em;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: -1%;
    margin-left: -10em;
    transition: border .3s ease;
    border: 1px solid black;
    box-sizing: border-box;
}

#hour-colors .color span {
    display: block;
    height: 14.5em;
    width: 14.5em;
    position: absolute;
    bottom: -6.9em;
    right: -6.9em;
    color: #fff;
    text-align: center;
    transform: skew(-60deg) rotate(-75deg) scale(1);
    transition: opacity 0.3s, color 0.3s;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

#hour-colors #hour-1 {
    transform: rotate(105deg) skew(60deg);
}

#hour-colors #hour-2 {
    transform: rotate(135deg) skew(60deg);
}

#hour-colors #hour-3 {
    transform: rotate(165deg) skew(60deg);
}

#hour-colors #hour-4 {
    transform: rotate(195deg) skew(60deg);
}

#hour-colors #hour-5 {
    transform: rotate(225deg) skew(60deg);
}

#hour-colors #hour-6 {
    transform: rotate(255deg) skew(60deg);
}
#hour-colors #hour-7 {
    transform: rotate(-75deg) skew(60deg);
}

#hour-colors #hour-8 {
    transform: rotate(-45deg) skew(60deg);
}

#hour-colors #hour-9 {
    transform: rotate(-15deg) skew(60deg);
}

#hour-colors #hour-10 {
    transform: rotate(15deg) skew(60deg);
}

#hour-colors #hour-11 {
    transform: rotate(45deg) skew(60deg);
}

#hour-colors #hour-12 {
    transform: rotate(75deg) skew(60deg);
}