@media screen and (max-width: 420px) {
    body {
        font-size: .9em;
    }
    section {
        border-radius: 220px;
        box-sizing: border-box;
        height: 240px;
        width: 240px;
        padding-top: 80px;
    }
}
@media screen and (min-width: 420px) {
    body {
        font-size: 1.5em;
    }
    section {
        border-radius: 220px;
        box-sizing: border-box;
        height: 380px;
        width: 380px;
        padding-top: 120px;
    }
}

body {
    transition: background-color 1000ms linear;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}

section {
    text-align: center;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    background: black;
}

h1, h2 {
    margin: 0
}

#color {
    font-size: 3.5em;
}

#time {
    font-size: 1.5em;
    font-weight: normal;
}
